[package]
name = "ignition"
version = "0.1.0"
edition = "2021"

[workspace]
resolver = "2"
members = [
    ".",
    "src/util",
    "src/takeoff",
    "src/vmm",
    "src/sds",
    "src/meta",
    "src/controller",
    "src/api",
    "src/cli",
    "src/client",
    "src/tools/convert-image",
]

default-members = [".", "src/cli", "src/tools/convert-image"]

[[bin]]
name = "ignition_demo"
path = "src/ignition_demo.rs"

[[bin]]
name = "ignitiond"
path = "src/ignition.rs"

[dependencies]
axum = { version = "0.8.1", features = ["macros"] }
futures = "0.3.31"
reqwest = { version = "0.12.12", default-features = false }
tracing-subscriber = "0.3.19"
util = { path = "src/util" }
api = { path = "src/api" }
vmm = { path = "src/vmm" }
sds = { path = "src/sds" }
controller = { path = "src/controller" }
